body{
    background-color: rgb(208, 40, 57);
}
h1{
    /* color: rgb(251, 235, 212);
    font-size: 250px;
    text-align: center;
    text-shadow: 2px 2px rgb(234, 73, 43);
    text-shadow: 14px 7px rgb(235, 150, 45); */
}
