#image:hover{
    filter: grayscale(80%);
    /* transform: rotate(100deg); */
    position: absolute;
}

#image{
    width: 350px;
    height: 200px;
    background-image: url(html-vlearn.png);
}